.nav {
  background-color: rgb(206, 197, 197);
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
}
.nav :global(.active) {
  color: red;
}
